
<div class="card" style="font-family: 'Peralta', cursive;">
  <div class="card-header bg-primary bg-gradien fs-3 text-white">
    <%= post.title %>
  </div>
  <div class="card-body">
    <p class="card-text fs-5">
      <%= post.content %>
    </p>
  </div>
  <div class="card-footer text-muted">
    <p class="d-inline mx-3 fs-5">
      <%= User.find(post.user_id).nick %>
    </p>
    <p class="d-inline mx-3 fs-5">
      <%= post.post_date.strftime("%k:%M %d/%m/%Y") %>
    </p>

    <%= link_to "Wiecej...", admin_post_path(post.id), class:"d-inline btn btn-warning float-end fs-6" %>
  </div>
</div>
<br>
