<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <br/>
  <div class="container" style="font-family: 'Peralta', cursive; width: 450px;">
    <div class="card">
      <div class="card-header bg-primary text-black bg-gradien fs-2 text-center">
        <h2>Zaloguj się</h2>
      </div>

        <div class="card-body">

          <div class="field my-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
          </div>

          <div class="field my-4">
            <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Hasło" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-check mx-2">
              <%= f.check_box :remember_me, class:"form-check-input" %>
              <%= f.label :remember_me, class:"form-check-label" %>
            </div>
          <% end %>

      </div>
      <div class="card-footer bg-primary text-black bg-gradien fs-2 text-center">

          <div class="actions">
            <%= f.submit "Loguj", class:"btn btn-warning fs-3" %>
          </div>

      </div>
    </div>
  </div>
<% end %>
